.report-feed {
	background-color: white;
	overflow: hidden;
}

.report-feed li {
	padding: 0.5rem 0.8rem;
	border-bottom: 1px solid lightgrey;
	text-align: center;
}

.report-feed li.selected {
	background-color: rgba(156, 197, 231, 0.3)
}

.report-feed li:not(.selected) {
	cursor: pointer;
}

.emoji {
	height: 2em;
	vertical-align: middle;
}