.image-select label {
	display: inline-block;
}

.image-select input {
	visibility: hidden;
	position: absolute;
}

.image-select div {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	box-sizing: content-box;
	width: 96px;
	height: 96px;
	border: 2px solid rgba(0, 0, 0, 0.1);
	cursor:pointer;
	transition-duration: 0.2s;
	transform-origin: 50% 50%;
	vertical-align: top;
	border-radius: 5px;
	background-color: white;
}

.image-select label:not(:last-child) {
	margin-right: 1rem
}

.image-select img {
	max-width: 86px;
	max-height: 86px;
}

.image-select input:checked + div {
	border: 2px solid rgba(0, 0, 0, 0.7)
}