.geosuggest__input:focus {
    border-color: #267dc0;
    box-shadow: 0 0 0 transparent;
}
.geosuggest__suggests {
.box
box-sizing: border-box;
     background: #fff;
    border: 2px solid #e4c369;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
}
.geosuggest__suggests--hidden {
    max-height: 0;
    overflow: hidden;
    border-width: 0;
}

.geosuggest__item {
    padding: .5em .65em;
    cursor: pointer;
}
.geosuggest__item:hover,
.geosuggest__item:focus {
    background: #ffe6bb;
}
.geosuggest__item--active {
    background: #e4c369;
    color: #fff;
}
.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
    background: #ccc;
}
.geosuggest__item__matched-text {
    font-weight: bold;
}