.geosuggest__suggests-wrapper {
	position: relative;
	width: 100%;
}

.geosuggest__suggests {
	position: absolute;
	z-index: 100;

	margin: 0 !important;
	width: 100%;
	box-sizing: border-box;

	border: 1px solid #e4c369;
	border-top-width: 0;
	border-radius: 0 0 0.3rem 0.3rem;
	box-shadow: 0 4px 3px rgba(0,0,0,0.1);

	background: #fff;
	list-style: none !important;
}

.geosuggest__suggests--hidden {
	display: none;
}

.geosuggest__item {
	margin: 0 !important;
	padding: .5em .65em;
	font-size: 0.85rem;
	cursor: pointer;
}
.geosuggest__item:hover,
.geosuggest__item:focus {
	background: #ffe6bb;
}
.geosuggest__item--active {
	background: #e4c369;
	color: #fff;
}
.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
	background: #ccc;
}
.geosuggest__item__matched-text {
	font-weight: bold;
}