.bg-img {
	background-image: url(/img/sunrise.jpeg) ;
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	background-color: #999;
}

nav a {
	color: white !important;
}

h1 {
	text-align: center
}