.sun-clock {
	position: absolute;
	top: -17.5rem;
	left: calc(50% - 12.5rem);

	width: 25rem;
	height: 25rem;

	padding-top: 19rem;
	padding-bottom: 2rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	border-radius: 12.5rem;
	border: 3px solid #e4c369;
	background-color: #ffdc7e;

	cursor: default;
	z-index: 1;
}

.sun-remaining {
	font-size: 2rem;
}