.welcome-page {
	background: #ffcc70 radial-gradient(ellipse at bottom, #ffcc70 0%, #db9f39 100%);
}

.welcome-body .button {
	background-color: #ffe990;
	border-color: transparent;
	color: rgba(0, 0, 0, 0.7);
}

.welcome-body .button:hover {
	background-color: #f5df8a;
}