.welcome-page {
	background: #fff9ef radial-gradient(ellipse at bottom, #fff9ef 0%, #ffe6bb 100%);
}

.welcome-body .button {
	background-color: #ffe990;
	border-color: transparent;
	color: rgba(0, 0, 0, 0.7);
}

.welcome-body .button:hover {
	background-color: #f5df8a;
}